/* Defaults */

@font-face {
  font-family: "Atkinson Bold";
  src: url("/fonts/atkinson-hyperlegible-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Atkinson Bold Italic";
  src: url("/fonts/atkinson-hyperlegible-boldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Atkinson Italic";
  src: url("/fonts/atkinson-hyperlegible-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-hyperlegible-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

:root {
  --font-family: Atkinson, system-ui, sans-serif;
  --font-family-monospace: monospace;
}

/* Theme colors */
:root {
  --color-gray-20: #9399b2;
  --color-gray-50: #7f849c;
  --color-gray-90: #6c7086;

  --color-maroon: #eba0ac;

  --color-subtext-1: #bac2de;

  --background-color: #1e1e2e;

  --text-color: #cdd6f4;
  --text-color-link: #a6e3a1;
  --text-color-link-active: #94e2d5;
  --text-color-link-visited: #b4befe;
  --text-color-tag: #f5e0dc;

  --syntax-tab-size: 2;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

@view-transition {
  navigation: auto;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}
html {
  overflow-y: scroll;
}
body {
  max-width: 50em;
}

.site-title {
  color: #f5e0dc;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
  width: 100%;
  height: auto;
}
iframe {
  aspect-ratio: 16/9;
}

p:last-child {
  margin-bottom: 0;
}
p {
  line-height: 1.5;
  font-size: 18px;
}

li {
  line-height: 1.5;
}

blockquote {
  border-left: 4px solid #f9e2af;
  margin-left: 10px;
  padding-left: 10px;
}

.disclaimer {
  margin-top: 15px;
}

a[href] {
  color: var(--text-color-link);
}
a[href]:visited {
  color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
  color: var(--text-color-link-active);
}

main,
footer {
  padding: 1rem;
  border-top: 1px dashed var(--color-gray-20);
  a {
    color: var(--text-color-link);
    cursor: pointer;
  }
}
footer {
  .icons {
    display: flex;
    align-items: center;
    gap: 5px;
    a {
      text-decoration: none;
    }
  }
}
main :first-child {
  margin-top: 0;
}

header {
  border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.links-nextprev {
  display: flex;
  justify-content: space-between;
  gap: 0.5em 1em;
  list-style: "";
  border-top: 1px dashed var(--color-gray-20);
  padding: 1em 0;
}
.links-nextprev > * {
  flex-grow: 1;
}
.links-nextprev-next {
  text-align: right;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
  border-radius: 50%;
}
pre:not([class*="language-"]) {
  margin: 0.5em 0;
  line-height: 1.375; /* 22px /16 */
  -moz-tab-size: var(--syntax-tab-size);
  -o-tab-size: var(--syntax-tab-size);
  tab-size: var(--syntax-tab-size);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-x: auto;
}
code {
  border-radius: 5px;
  background-color: #313244;
  color: var(--text-color);
  font-size: 14px;
  padding: 0.2em 0.4em;
}

/* Header */
header {
  display: flex;
  gap: 1em 0.5em;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
}
header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

header .icons {
  margin-left: auto;
  a {
    text-decoration: none;
    padding-right: 5px;
  }
}

@media (max-width: 768px) {
  header .icons {
    margin-left: 0;
    margin-right: auto;
    order: -1;
  }
}

.home-link {
  font-size: 1em; /* 16px /16 */
  font-weight: 700;
  margin-right: 2em;
}
.home-link:link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav a[href][aria-current="page"] {
  text-decoration: underline;
}

/* Posts list */
.postlist {
  font-size: 18px;
  list-style: none;
  padding: 0;
  padding-left: 1.5rem;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  margin-bottom: 1em;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--color-subtext-1);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
  flex-basis: calc(100% - 1.5rem);
  padding-left: 0.25em;
  padding-right: 0.5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
.post-tag {
  color: var(--text-color-tag) !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-style: italic;
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Tags list */
.post-metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}
.post-metadata time {
  margin-right: 1em;
}

/* Pagefind */

.pagefind-ui mark {
  background-color: #f9e2af !important;
  color: #1e1e2e !important;
  padding: 0 2px !important;
  border-radius: 3px !important;
}

/*
 * Code syntax highlighting
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #cdd6f4;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #181825;
}

/* https://prismjs.com/tokens.html */

.token.keyword {
  color: #cba6f7;
}

.token.builtin {
  color: #f38ba8;
}

.token.class-name {
  color: #f9e2af;
}

.token.function {
  color: #89b4fa;
}

.token.boolean,
.token.number {
  color: #fab387;
}

.token.string,
.token.char {
  color: #a6e3a1;
}

.token.symbol {
  color: #f9e2af;
}

.token.regex {
  color: #f5c2e7;
}

.token.url {
  color: #a6e3a1;
}

.token.operator {
  color: #89dceb;
}

.token.variable {
  color: #cdd6f4;
}

.token.constant {
  color: #fab387;
}

.token.property {
  color: #89b4fa;
}

.token.punctuation {
  color: #9399b2;
}

.token.important {
  color: #cba6f7;
}

.token.comment {
  color: #9399b2;
}

.token.tag {
  color: #89b4fa;
}

.token.attr-name {
  color: #f9e2af;
}

.token.attr-value {
  color: #a6e3a1;
}

.token.namespace {
  color: #f9e2af;
}

.token.prolog,
.token.doctype {
  color: #cba6f7;
}

.token.cdata {
  color: #94e2d5;
}

.token.entity {
  color: #f38ba8;
}

.token.atrule {
  color: #cba6f7;
}

.token.selector {
  color: #89b4fa;
}

/* Diff */

.token.deleted {
  color: #f38ba8;
}

.token.inserted {
  color: #a6e3a1;
}

/* Other */

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

/* From markdown-it-github-alerts plugin */

.markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  border-left: .25em solid #888;
}

.markdown-alert>:first-child {
  margin-top: 0
}

.markdown-alert>:last-child {
  margin-bottom: 0
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1
}

.markdown-alert .markdown-alert-title .octicon {
  margin-right: 0.5rem;
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-alert.markdown-alert-note {
  border-left-color: var(--color-note);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--color-note);
}

.markdown-alert.markdown-alert-important {
  border-left-color: var(--color-important);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--color-important);
}

.markdown-alert.markdown-alert-warning {
  border-left-color: var(--color-warning);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--color-warning);
}

.markdown-alert.markdown-alert-tip {
  border-left-color: var(--color-tip);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--color-tip);
}

.markdown-alert.markdown-alert-caution {
  border-left-color: var(--color-caution);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--color-caution);
}
