---
permalink: 404.html
eleventyExcludeFromCollections: true
---

<script>document.addEventListener('DOMContentLoaded', function () { plausible('404', { props: { path: document.location.pathname } }); });</script>

<h1>404 Error</h1>

<img alt="a depiction of a webpage with the letter x for eyes and a frown" src="/404.png">

<p>Maybe there's a typo in the URL. Or the page has been deleted. If there is a specific page that you are looking for, feel free to <a href="/contact">reach out</a> and I can help troubleshoot.</p>
