---js
title: "Search"
const eleventyNavigation = {
	key: "Search",
	order: 4
};
---
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">

<style>
:root {
      --pagefind-ui-primary: #CDD6F4;  /* Text */
      --pagefind-ui-text: #CDD6F4;     /* Text */
      --pagefind-ui-background: #1E1E2E;  /* Base */
      --pagefind-ui-border: #45475A;   /* Surface1 */
      --pagefind-ui-tag: #313244;      /* Surface0 */
      --pagefind-ui-font: sans-serif;
}

</style>

<h1>Search</h1>
<p>Search posts by keyword. Requires javascript to be enabled in your browser. Surround the query in quotes to search for whole string matches only.</p>

<div id="search" class="search"></div>

<script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
