<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		<meta property="og:image" content="https://cdn.spwoodcock.dev/og-image.png">
		<meta property="og:title" content="{{ title or metadata.title }}">
		<meta property="og:description" content="{{ description or metadata.description }}">
		<meta property="og:url" content="{% if title %}{{ metadata.url }}blog/{{ title | slugify }}{% else %}{{ metadata.url }}{% endif %}">
		<meta property="og:site_name" content="Sam Woodcock">
		<meta property="og:type" content="website">

		{#- Plausible Analytics #}
		<script defer data-domain="spwoodcock.dev" src="https://plausible.io/js/script.js"></script>
		<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>


		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}/* This is an arbitrary CSS string added to the bundle */{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or you can add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		{#- <style>{% getBundle "css" %}</style> --> #}
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
				<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{% if entry.icon %} {% include '_includes/icons/' + entry.icon + ".svg" %}{% endif %}{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
		</nav>
		<div class="icons">
			<a aria-label="Go to Sam's LinkedIn" href="https://www.linkedin.com/in/spwoodcock">
				{% include '_includes/icons/linkedin.svg' %}
			</a>
			<a aria-label="Go to Sam's GitLab" href="https://gitlab.com/spwoodcock">
				{% include '_includes/icons/gitlab.svg' %}
			</a>
			<a aria-label="Go to Sam's GitHub" href="https://github.com/spwoodcock">
				{% include '_includes/icons/github.svg' %}
			</a>
			<a aria-label="Go to Sam's WSL GitLab" href="https://gitlabext.wsl.ch/spwoodcock">
				{% include '_includes/icons/wsl.svg' %}
			</a>
			<a aria-label="Go to RSS Feed" href="/feed.xml" >
				{% include '_includes/icons/rss.svg' %}
			</a>
		</div>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
			<div class="icons">
			<span>Made with</span>

			<a href="https://11ty.dev" aria-label="Go to eleventy site">
				{% include '_includes/icons/11ty.svg' %}
			</a>

			<a href="https://debian.org" aria-label="Go to debian.org">
					{% include '_includes/icons/debian.svg' %}
			</a>

			{% include '_includes/icons/coffee.svg' %}

			{% include '_includes/icons/heart.svg' %}
			</div>

			<p>All posts are under the CC0 1.0 license.</p><p> <a aria-label="link to the nevermonetize site" href="https://nevermonetize.com">nevermonetize</a> • <a aria-label="link to websitecarbon" href="https://www.websitecarbon.com/website/spwoodcock-dev/">emissions</a>  </p>

		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>

	</body>
</html>
